[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/flebedev77/neovim-config.git
